:root {
  --primary-color: #137fec;
  --secondary-color: #f0f2f4;
  --text-primary: #111418;
  --text-secondary: #617589;
}
.btn {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 5%;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border: none;
  transition: all 0.3s ease;
}
.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}

.btn-primary:hover {
  background-color: var(--primary-color);
  opacity: 0.9;
}
.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--text-primary);
}

.btn-secondary:hover {
  background-color: #e5e7eb;
}

.nav-link {
  font-size: 1rem; 
  font-weight: 500; 
  color: var(--text-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--primary-color);
}
